@import mixins
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins
@import ../bower_components/breakpoint-sass/stylesheets/breakpoint

body
	background: radial-gradient(circle,#383333,#000)
		repeat: no-repeat
		attachment: fixed
	color: #000

div.logo
	width: 100%
	display: block
	margin: 70px 0 50px
	text-align: center
	position: relative

	+breakpoint($celular)
		margin: 50px 0 30px

	img
		+breakpoint($celular)
			width: 50%

div.senha
	width: 100%
	display: block
	text-align: center
	margin: 0 0 30px

	input
		width: 500px
		color: #fff
		padding: 15px
		text-align: center
		font-size: 2em
		background: transparent

		+breakpoint($celular)
			width: 85%
			font-size: 1.2em

		&:focus
			letter-spacing: 10px


div.botao
	width: 100%
	display: block
	text-align: center
	margin: 0 0 60px

	button
		width: 200px
		color: #fff
		padding: 15px
		background: transparent

		+breakpoint($celular)
			width: 60%

div.regras
	width: 100%
	display: block
	text-align: center
	margin: 0 0 40px

.carousel-indicators li
	visibility: hidden