@import ../helpers/mixins
@import ../layout/header
@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables
@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins
@import ../../bower_components/breakpoint-sass/stylesheets/breakpoint

body
	background: 
		image: url(../../img/bg_texture.png)
	color: $branco

.jumbotron
	border-bottom: 2px solid $red
	background:
		image: url(../../img/banner-bg.jpg)
		position: top center
		repeat: no-repeat
		attachment: fixed
		size: cover

	+breakpoint($tablet)
		background-size: 100%

	.banner
		width: 100%
		height: 300px

		+breakpoint($tablet)
			height: 150px

		+breakpoint($celular)
			height: 90px

		p
			color: $preto
			font-size: 2rem
			font-weight: $bold
			text-align: center
			width: 50%
			max-width: 100%
			margin: 200px auto 0
			border: 2px solid $preto
			padding: 40px
			
			+breakpoint($tablet)
				width: 70%
				padding: 30px
				margin: 130px auto
				background: rgba(255, 255, 255, 0.4)
				box-shadow: 0 0 2px 0 $preto inset

			+breakpoint($celular)
				font-size: 1.5rem
				width: 80%
				padding: 10px
				margin: 60px auto

.board
	width: 70%
	text-align: center
	margin: 0 auto 40px
	background: rgba(255, 255, 255, 0.1)
	padding: 40px 60px
	box-shadow: 0 0 2px 0 $preto inset
	border-radius: 3px

	+breakpoint($tablet)
		width: 90%
		padding: 20px 30px

	h2
		color: $branco
		font-size: 2rem
		margin: 0 0 20px

		+breakpoint($tablet)
			font-size: 1.6rem

		+breakpoint($celular)
			font-size: 1rem

	img
		width: 100%
		height: auto
		display: block
		max-width: 100%
		margin: 0 0 20px

	p
		color: $branco
		width: 70%
		margin: 0 auto
		text-align: justify
		line-height: 1.3333

		+breakpoint($tablet)
			width: 100%